[submodule "cantudevs/hugo-theme-relearn"]
	path = cantudevs/hugo-theme-relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git
[submodule "cantudevs/themes/relearn"]
	path = cantudevs/themes/relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git
[submodule "cantudevs_hugo/themes/relearn"]
	path = cantudevs_hugo/themes/relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git
